* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

:root {
    --animate-duration: 2s;
  }
  
body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans",sans-serif;
}

.wrapper-menu {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: Courier;
    color: #fff;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #1A374D;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
.container-img {
    width:50%;
    float:left;
}

a.tbl-biru {
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-family: 'Nunito Sans Bold', sans-serif;
    font-size: 1rem;
    height: 48px;
    padding: 10px 25px;
    transition: all 1s;
}

a.tbl-biru:hover {
    background-color: #B1D0E0;
    text-decoration: none;
}

label #btn {
    color: #ffffff;
    font-size: 36px;
    float: right;
    margin-left: 40px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.section-1 {
    margin: auto;
    display: flex;
}

.image {
    margin-top: 100px;
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 10px;
    margin-bottom: 70px;
    float: left;
}

.wrapper-1 {
    margin-right: auto;
    margin-left: auto;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/blue-snow.png);
    background-repeat: repeat;
}

.kolom-1 {
    width:50%;
    margin-top: 100px;
    padding-top: 30px;
    margin-bottom: 50px;
    margin-left: 20px;
    float: right;
}

.kolom-1 .diskripsi-1 {
    font-family: 'Comic Sans MS';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #1A374D;
    width: 100%;
    line-height: 50px;
}

.kolom-1 p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #1A374D;
}

a.tbl-hijau {
    border: 1px solid #1A374D;
    border-radius: 50px;
    background-color: #ff9800;
    color: #fff;
    font-family: 'Nunito Sans Bold', sans-serif;
    font-size: 1rem;
    height: 48px;
    padding: 10px 25px;
    transition: all 1s;
}

a.tbl-hijau:hover {
    background-color: #1A374D;
    text-decoration: none;
}

p.pilih {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.wrapper-2 {
    margin-right: auto;
    margin-left: auto;
    background-image: url(so-white.png);
    background-repeat: repeat;
}

.diskripsi-2 {
    font-size: 48px;
    font-family: inherit;
    line-height: 65px;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: #444B8C;
}

.kolom-2 p {
    font-size: 18px;
    font-family: 'Open Sans';
    line-height: 25px;
    text-align: center;
    margin-bottom: 60px;
    color: rgba(68, 75, 140, 0.7);
}

.card {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 100px;
    display: flex;
    align-items: flex-end;
}

.card-base {
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 0px 25px rgb(39 73 153 / 25%);
    margin: auto;
}

.card-harder-1 {
    padding-bottom: 10px;
    margin: auto;
}

.base-harder-1 {
    background: linear-gradient(90deg, #A4DEF8 0%, #69CAF0 100%);
    padding: 22px;
    border-radius: 16px 16px 0 0;
}

.base {
    font-family: 'Comic San Regular';
    text-align: center;
    font-size: 32px;
    line-height: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.pricing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.base-discount-1 {
    font-weight: 600;
    font-size: 18px;
    font-size: 1.1em;
    line-height: 25px;
    text-decoration: line-through;
    color: rgba(68, 75, 140, 0.5);
}

.badge-discount-1 {
    background: linear-gradient(90deg, #A4DEF8 0%, #69CAF0 100%);
    font-size: 16px;
    border-radius: 30px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.price {
    font-weight: bold;
    font-size: 38px;
    letter-spacing: -0.028em;
    color: #444B8C;
    padding-left: 20px;
    padding-right: 20px;
}

.rp {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 5px;
    color: #444B8C;
}

.btn {
    border: 1px solid transparent;
    background-color: #77D970;
    color: #fff;
    border-radius: 50px;
    margin-bottom: 20px;
    display: block;
    padding: 10px 20px;
    margin-left:30px;
    margin-right:30px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: all 1s;
}

.btn:hover {
    background-color: green;
    text-decoration: none;
}

.ceklis-1 {
    font-family: 'Nunito Sans Bold', sans-serif;
    color: rgba(68, 75, 140, 0.7);
    list-style-image: url(https://www.rumahweb.com/promo-hosting-murah/img/icon-check-green.svg);
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    min-height: 30px;
}

.ceklis-1 li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.base-harder-2 {
    background: linear-gradient(90deg, #FEC048 0%, #F37655 100%);
    padding: 22px;
    border-radius: 16px 16px 0 0;
}

.base-discount-2 {
    font-weight: 600;
    font-size: 18px;
    font-size: 1.1em;
    line-height: 25px;
    text-decoration: line-through;
    color: rgba(68, 75, 140, 0.5);
}

.badge-discount-2 {
    background: linear-gradient(90deg, #FEC048 0%, #F37655 100%);
    font-size: 16px;
    border-radius: 30px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.card-harder-2 {
    padding-bottom: 10px;
    margin: auto;
}

.ceklis-2 {
    font-family: 'Nunito Sans Bold', sans-serif;
    color: rgba(68, 75, 140, 0.7);
    list-style-image: url(https://www.rumahweb.com/promo-hosting-murah/img/icon-check-green.svg);
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    min-height: 30px;
}

.ceklis-2 li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-harder-3 {
    padding-bottom: 10px;
    margin: auto;
}

.base-harder-3 {
    background: linear-gradient(90deg, #446AB7 0%, #274999 100%);
    padding: 22px;
    border-radius: 16px 16px 0 0;
}

.base-discount-3 {
    font-weight: 600;
    font-size: 18px;
    font-size: 1.1em;
    line-height: 25px;
    text-decoration: line-through;
    color: rgba(68, 75, 140, 0.5);
}

.badge-discount-3 {
    background: linear-gradient(90deg, #446AB7 0%, #274999 100%);
    font-size: 16px;
    border-radius: 30px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.ceklis-3 {
    font-family: 'Nunito Sans Bold', sans-serif;
    color: rgba(68, 75, 140, 0.7);
    list-style-image: url(https://www.rumahweb.com/promo-hosting-murah/img/icon-check-green.svg);
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    min-height: 30px;
}

.ceklis-3 li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-3 {
    box-sizing: border-box;
    margin: 120px;
    padding: 30px;
    background-color: #406882;
    border-radius: 15px;
}

.container-2 {
    padding: 10px;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.header {
    padding: auto;
    margin: auto;
}

.cek {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 5px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.search {
    text-align: center;
    margin: auto;
    position: relative;
    width: 100%;
}

.form {
    box-sizing: border-box;
    border-radius: 30px;
    color: #000;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 500px;
    height: 10px;
    margin: auto;
}

.button {
    background: #ff9800;
    box-shadow: 0 8px 10px rgb(255 176 77 / 32%);
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    height: 40px;
    margin-left: 0;
    margin-top: 10px;
    width: 170px;
}

.button:hover {
    background-color: orangered;
}

.section-4 {
    margin: auto;
    display: flex;
}

.wrapper-4 {
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/45degreee_fabric.png);
    background-repeat: repeat;
}

.kolom-4 {
    margin-top: 150px;
    margin-left: 50px;
    float: right;
}

.kolom-4 .diskripsi-4 {
    font-family: 'Comic Sans MS';
    font-weight: 800;
    font-size: 45px;
    color: #1A374D;
    width: 100%;
    line-height: 80px;
}

.kolom-4 h3 {
    padding-top:20px;
    font-family: 'Open Sans', sans-serif;
    color: #1A374D;
    font-size: 20px;
}

.kolom-4 p {
    padding-top:1px;
    padding-bottom: 15px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #1A374D;
}

a.tbl-kuning {
    border: 1px solid #1A374D;
    border-radius: 50px;
    background-color: #ff9800;
    color: #fff;
    font-family: 'Nunito Sans Bold', sans-serif;
    font-size: 1rem;
    height: 48px;
    padding: 10px 25px;
    transition: all 1s;
}

a.tbl-kuning:hover {
    background-color: #1A374D;
    text-decoration: none;
}

p.para {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.img {
    margin-top: 100px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 50px;
    margin-bottom: 70px;
}

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    max-width: 50%;
  }

.top-wrapper p {
    max-width: 50%;
}

.top-wrapper {
    margin-top: 120px;
    margin-left: 20px;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
  }

header {
    height: 60px;
    width: 100%;
    background-color: #1A374D;
    position :fixed;
    top: 0;
    z-index: 10;
}

.header-right {
    float:right;
}

.header-right a {
    line-height: 20px;
    padding: 0 25px;
    display: block;
    float: left;
    transition: all 0.5s;
    color:white;
    text-decoration: none;
  }

.footer-full {
	background-color: #1A374D;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 50px 50px 20px 50px;
	margin-top: 0;
}

.footer-full .footer-left,
.footer-full .footer-center,
.footer-full .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-full .footer-left {
	width: 20%;
}

.footer-full h3 {
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-full .footer-offer{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-full {
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-offer ul {
	list-style-type: none;
}

.footer-offer a {
    line-height: 1.8;
    text-decoration: none;
	color:  white;
}

.footer-offer a:hover {
    font-weight: bold;
 }

.footer-full .footer-center {
	width: 30%;
}

.footer-center i {
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
}

.footer-center p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-center p span {
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-center p a {
	color:  #e0ac1c;
	text-decoration: none;;
}

.footer-right {
	width: 20%;
}

.footer-company {
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-company span {
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-icons {
	margin-top: 25px;
}

.footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

#copyright {
    text-align: center;
    color: #ffffff;
    width: 100%;
    padding: auto;
}